<div>
 	<md-toolbar layout="column" class="md-tall profile" layout-padding style="background: #03AA75;" >
	  <div class="tc-white-1" flex-container="row">
	  	<a href="javascript:;" data-activates="slide-out" class="hide-on-large-only" ng-click="toggleLeft()"><i class="mdi-navigation-menu material-icons tiny"></i></a>
	  </div>
	  <div  layout="column" layout-align="space-around center" >
	     <div><span class="fs-display-1 display-block">Profile</span></div>
	 </div>
	</md-toolbar>
 </div>
<div style="position:relative;bottom:70px; width:90%; margin-left:5%; margin-top: 120px;" layout-fill layout-wrap ng-init="mainTemplate('','details')">
  <div layout-fill class="tc-white-1" >
    <div layout-margin class="white"  resize style="height:{{windowHeight-80+'px'}};border:1px solid #ddd;overflow:auto"><div ng-include="template1.pageDetails"></div></div>
  </div>
</div>
