<div ng-init="getPersonInfo()">
	<div flex-container="column">
		<div flex-item layout-margin layout-padding>
			 <img layout-margin src="/assets/images/vernalis_home_logo.png" alt="" class="circle aligncenter" style="width:100px;height:100px">
			 <div layout-fill layout-margin class="center center"><span class="fs-subhead display-block black-text">{{personInfo.firstName}} {{personInfo.lastName}}</span></div>
			 <div layout-fill layout-margin class="center center"><span class="fs-caption black-text display-block">{{personInfo.designation}}</span></div>
		</div>
		<md-divider layout-fill></md-divider>
		<div flex-item layout-margin layout-padding>
	 	 	<div layout-fill layout-margin><span class="fs-title black-text display-block">Contact</span></div>
	 	 	<div layout-fill layout-margin><span class="fs-subhead display-block black-text" ng-repeat="phoneNo in personInfo.phoneNumbers">{{phoneNo.phoneNo}}</span></div>
	 	 	<div layout-fill layout-margin><span class="fs-subhead display-block black-text" ng-repeat="email in personInfo.emailAddresses">{{email.emailId}}</span></div>
	 	 	<div layout-fill layout-wrap layout-margin ng-repeat="address in personInfo.addresses">
	 	 		<span class="fs-subhead display-block black-text">{{address.line1}} {{address.line2}} {{address.city}},{{address.country}} {{address.zipcode}}</span>
	 	 	</div>
	 	</div>
	 	<div flex-item layout-margin layout-padding>
		 	<div layout-fill layout-margin><span class="fs-title black-text display-block">Connect</span></div>
		 	<div layout-fill layout-margin ng-repeat="alias in personInfo.alias"><span class="fs-subhead display-block black-text">{{alias.entityType.key}}</span></div>
		 	<!-- <div layout-fill layout-margin><span class="fs-subhead display-block black-text">LinkedIn</span></div>
		 	<div layout-fill layout-margin><span class="fs-subhead display-block black-text">Twitter</span></div> -->
		</div>
	</div>
</div>