 <md-progress-linear md-mode="indeterminate"></md-progress-linear>
 <div>
	<ul class="collection grey-text m0" ng-init="loadStaffList();">
	    <li class="collection-item avatar" ng-repeat="lists in staffList.staffList">
	    <div flex-container="row">
	    	  <div flex="10">
		      <img src="/assets/images/vernalis_home_logo.png" alt="" class="circle">
		      </div>
		      <div flex="60">
		      <span class="black-text">{{lists.firstName}} </span><br>
		      <span class="black-text fs-subhead">  ID : {{lists.id}}  </span><br>
		      <span class="black-text fs-subhead">DOB: {{lists.dateOfBirth}} </span><br>
		      </div>
		      <div flex="30" class="black-text"> {{lists.classTeacherID}}   </div>
	      </div>
	    </li>
  </ul>
</div>
</div>

 