  <div ng-init="loadStaffList();">
	<ul class="collection grey-text m0" >
	    <li class="collection-item avatar" ng-repeat="lists in staffList">
	    <div flex-container="row">
	    	  <div flex="10">
		      <img src="/assets/images/no-img.jpg" alt="" class="circle">
		      </div>
		      <div flex="60" >
		      <span class="black-text fs-subhead">{{lists.firstName}} </span><br>
		      <span class="black-text">  ID : {{lists.id}}  </span><br>
		      <span class="black-text">DOB: {{lists.dateOfBirth}} </span><br>
		      </div>
		      <div flex="30" class="black-text fs-subhead"> {{lists.designation}}   </div>
	      </div>
	    </li>
  </ul>
</div>

 