<div>
 	<md-toolbar layout="column" class="light-blue md-tall" layout-padding>
	  <div layout class="tc-white-1 mt++" flex-container="row">
	    <div flex="30" layout-align="start end" layout><span class="fs-title display-block">Peter Dinklage</span></div>
	    <div flex layout="row" layout-align="space-between center">
		    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect layout-fill flex class="mlt20">
		      <md-tab  ng-repeat="tab in tabs"
		              ng-disabled="tab.disabled"
		              label="" layout-align="space-between center">
		              <div class="tabView"  ng-click="tabNavigation('{{tab.title}}')">{{tab.title}}</div>
		      </md-tab>
		    </md-tabs> 
	    </div>
	 </div>
	</md-toolbar>
 </div>
 <div><div class="p+ light-blue"></div></div>
 <div><div class="p+ light-blue"></div></div>
<div style="position:relative;bottom:70px" layout="row" layout-sm="column" layout-fill layout-wrap ng-init="mainTemplate('details','profile')">
  <div layout-fill class="tc-white-1" flex-container="row">
    <div flex="30" layout-margin class="white" resize style="height:{{windowHeight-150+'px'}};border:1px solid #ddd;overflow:auto"><div ng-include="template1.pageList"></div></div>
    <div flex="65" layout-margin class="white" resize style="height:{{windowHeight-150+'px'}};border:1px solid #ddd;overflow:auto"><div ng-include="template1.pageDetails"></div></div>
  </div>
</div>
